.taskLine{
   display: flex;
   margin: 20px 0px;
   border: 1px black solid;
   border-radius: 10px;
   padding: 10px;
}

.description{
   flex-grow: 1;
}

.taskLine_el{
   border-right: 1px black solid;
   padding: 0px 20px;
}

.taskLine_el_icon{
   padding: 0px 10px;
}

.buttonLine>button{
   margin: 0px 5px;
}

.modelWindow{
   position: absolute;
   top: 0;
   left: 0;
}